USE [master]
GO
/****** Object:  Database [Chat RPC]    Script Date: 11/28/2023 3:26:53 AM ******/
CREATE DATABASE [Chat RPC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chat RPC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Chat RPC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Chat RPC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Chat RPC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chat RPC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chat RPC]
GO
/****** Object:  Table [dbo].[activitys]    Script Date: 11/28/2023 3:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activitys](
	[name] [nvarchar](100) NOT NULL,
	[id] [varchar](50) NOT NULL,
 CONSTRAINT [PK_activity] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logs]    Script Date: 11/28/2023 3:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username_member] [nvarchar](100) NULL,
	[name_room] [nvarchar](100) NOT NULL,
	[activity] [varchar](50) NOT NULL,
	[time] [nvarchar](50) NOT NULL,
	[data] [nvarchar](500) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[members]    Script Date: 11/28/2023 3:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[members](
	[username] [nvarchar](100) NOT NULL,
	[enable] [bit] NULL,
	[islock] [bit] NOT NULL DEFAULT 0,
 CONSTRAINT [PK_members] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_member]    Script Date: 11/28/2023 3:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_member](
	[name_room] [nvarchar](100) NOT NULL,
	[username_member] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_room_member] PRIMARY KEY CLUSTERED 
(
	[name_room] ASC,
	[username_member] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 11/28/2023 3:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[name] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NULL,
	[islock] [bit] NOT NULL DEFAULT 0
,
 CONSTRAINT [PK_rooms_1] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_room_name]    Script Date: 11/28/2023 3:26:53 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_room_name] ON [dbo].[rooms]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[members] ADD  CONSTRAINT [DF_users_enable]  DEFAULT ((1)) FOR [enable]
GO
ALTER TABLE [dbo].[logs]  WITH CHECK ADD  CONSTRAINT [FK_logs_activitys] FOREIGN KEY([activity])
REFERENCES [dbo].[activitys] ([id])
GO
ALTER TABLE [dbo].[logs] CHECK CONSTRAINT [FK_logs_activitys]
GO
ALTER TABLE [dbo].[logs]  WITH CHECK ADD  CONSTRAINT [FK_logs_members] FOREIGN KEY([username_member])
REFERENCES [dbo].[members] ([username])
GO
ALTER TABLE [dbo].[logs] CHECK CONSTRAINT [FK_logs_members]
GO
ALTER TABLE [dbo].[logs]  WITH CHECK ADD  CONSTRAINT [FK_logs_rooms] FOREIGN KEY([name_room])
REFERENCES [dbo].[rooms] ([name])
GO
ALTER TABLE [dbo].[logs] CHECK CONSTRAINT [FK_logs_rooms]
GO
ALTER TABLE [dbo].[room_member]  WITH CHECK ADD  CONSTRAINT [FK_room_member_members] FOREIGN KEY([username_member])
REFERENCES [dbo].[members] ([username])
GO
ALTER TABLE [dbo].[room_member] CHECK CONSTRAINT [FK_room_member_members]
GO
ALTER TABLE [dbo].[room_member]  WITH CHECK ADD  CONSTRAINT [FK_room_member_rooms] FOREIGN KEY([name_room])
REFERENCES [dbo].[rooms] ([name])
GO
ALTER TABLE [dbo].[room_member] CHECK CONSTRAINT [FK_room_member_rooms]
GO
/****** Object:  StoredProcedure [dbo].[spInsertMemberToRoom]    Script Date: 11/28/2023 3:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertMemberToRoom]
    @nameRoom NVARCHAR(100), @username NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
	IF NOT EXISTS ( SELECT * FROM room_member WHERE name_room = @nameRoom AND username_member = @username ) 
	BEGIN 
		INSERT INTO room_member(name_room, username_member)	 VALUES(@nameRoom, @username)
		RETURN 1
	END
	RETURN 0
	
END
GO
/****** Object:  StoredProcedure [dbo].[spNewChatRoom]    Script Date: 11/28/2023 3:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNewChatRoom]
    @nameRoom NVARCHAR(100),@password NVARCHAR(100), @username NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO rooms (name, password) VALUES(@nameRoom, @password)
	INSERT INTO room_member(name_room, username_member) VALUES(@nameRoom, @username)
END
GO
USE [master]
GO
